---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../../bases/infrastructure/controllers/
  - cloudflared/
  - hcloud-csi/
  - kubelet-serving-cert-approver/
  - origin-ca-issuer/
patches:
  - target:
      kind: HelmRelease
      name: cilium
      namespace: kube-system
    path: cilium/patches/helm-release-patch.yaml
