apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: trivy-operator
  namespace: trivy-operator
  labels:
    helm.toolkit.fluxcd.io/helm-test: enabled
    helm.toolkit.fluxcd.io/remediation: enabled
spec:
  interval: 10m
  chart:
    spec:
      chart: trivy-operator
      version: 0.29.1
      sourceRef:
        kind: HelmRepository
        name: trivy-operator
  # https://github.com/aquasecurity/trivy-operator/blob/main/deploy/helm/values.yaml
  values: {}
