---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cilium
  namespace: kube-system
  labels:
    helm.toolkit.fluxcd.io/crds: enabled
    helm.toolkit.fluxcd.io/helm-test: enabled
    helm.toolkit.fluxcd.io/remediation: enabled
spec:
  chart:
    spec:
      chart: cilium
      version: 1.18.4
      sourceRef:
        kind: HelmRepository
        name: cilium
  interval: 10m0s
  # https://github.com/cilium/cilium/blob/main/install/kubernetes/cilium/values.yaml
  values:
    hubble:
      relay:
        replicas: ${cilium_replicas:=2}
      ui:
        replicas: ${cilium_replicas:=2}
    operator:
      replicas: ${cilium_replicas:=2}
    clustermesh:
      apiserver:
        replicas: ${cilium_replicas:=2}
    ipam:
      mode: kubernetes
    kubeProxyReplacement: true
    authentication:
      mutual:
        spire:
          enabled: true
          install:
            namespace: kube-system
            existingNamespace: true
            # TODO: Remove workaround when SPIRE no longer fails to start (https://github.com/cilium/cilium/issues/40533)
            server:
              initContainers:
              - command:
                - /bin/sh
                - -c
                - |
                  chown -R 1000:1000 /run/spire/data
                  chown -R 1000:1000 /tmp/spire-server
                image: docker.io/library/busybox:1.37.0
                imagePullPolicy: IfNotPresent
                name: chown
                securityContext:
                  runAsGroup: 0
                  runAsUser: 0
                volumeMounts:
                - mountPath: /run/spire/data
                  name: spire-data
                - mountPath: /tmp/spire-server/private
                  name: spire-server-socket
              securityContext:
                runAsGroup: 1000
                runAsUser: 1000
    gatewayAPI:
      enabled: true
      enableAlpn: true
