apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nextcloud
  namespace: nextcloud
  labels:
    helm.toolkit.fluxcd.io/helm-test: enabled
    helm.toolkit.fluxcd.io/remediation: enabled
spec:
  interval: 2m
  chart:
    spec:
      chart: nextcloud
      version: 8.5.9
      sourceRef:
        kind: HelmRepository
        name: nextcloud
  # https://github.com/nextcloud/helm/blob/main/charts/nextcloud/values.yaml
  values:
    replicaCount: ${nextcloud_replicas:=1}
    ingress:
      enabled: true
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/name: Nextcloud
        gethomepage.dev/description: File storage and collaboration platform.
        gethomepage.dev/group: Apps
        gethomepage.dev/icon: nextcloud
    service:
      annotations:
        traefik.ingress.kubernetes.io/service.sticky.cookie: "true"
    phpClientHttpsFix:
      enabled: true
    internalDatabase:
      enabled: false
    externalDatabase:
      enabled: true
      type: postgresql
      host: db-rw.nextcloud
      database: nextcloud
      existingSecret:
        enabled: true
        usernameKey: username
        passwordKey: password
    nextcloud:
      host: nextcloud.${domain}
      existingSecret:
        enabled: true
      # TODO: Configure SendGrid email provider
      # TODO: Add SMTP configuration for nextcloud
      # mail:
      #   enabled: true
    persistence:
      enabled: true
