apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
  namespace: cert-manager
  labels:
    helm.toolkit.fluxcd.io/crds: enabled
    helm.toolkit.fluxcd.io/helm-test: enabled
    helm.toolkit.fluxcd.io/remediation: enabled
spec:
  interval: 2m
  chart:
    spec:
      chart: cert-manager
      version: v1.19.2
      sourceRef:
        kind: HelmRepository
        name: cert-manager
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  # https://github.com/cert-manager/cert-manager/blob/master/deploy/charts/cert-manager/values.yaml
  values:
    replicaCount: ${cert_manager_replicas:=2}
    webhook:
      replicaCount: ${cert_manager_replicas:=2}
    cainjector:
      replicaCount: ${cert_manager_replicas:=2}
    podDisruptionBudget:
      enabled: true
    crds:
      enabled: true
