apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plantuml
  namespace: plantuml
  labels:
    helm.toolkit.fluxcd.io/helm-test: enabled
    helm.toolkit.fluxcd.io/remediation: enabled
spec:
  interval: 2m
  chart:
    spec:
      chart: plantuml
      version: 3.42.0
      sourceRef:
        kind: HelmRepository
        name: plantuml
  # https://github.com/stevehipwell/helm-charts/blob/main/charts/plantuml/values.yaml
  values:
    ingress:
      enabled: ${plantuml_ingress_enabled:=true}
      hosts:
        - plantuml.${domain}
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/name: PlantUML
        gethomepage.dev/description: Text-based UML diagramming tool.
        gethomepage.dev/icon: si-uml-#FABD14
