apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vertical-pod-autoscaler
  namespace: vertical-pod-autoscaler
  labels:
    helm.toolkit.fluxcd.io/crds: enabled
    helm.toolkit.fluxcd.io/helm-test: enabled
    helm.toolkit.fluxcd.io/remediation: enabled
spec:
  interval: 2m
  chart:
    spec:
      chart: vpa
      version: 4.8.0
      sourceRef:
        kind: HelmRepository
        name: vertical-pod-autoscaler
  # https://github.com/FairwindsOps/charts/blob/master/stable/goldilocks/values.yaml
  values:
    updater:
      enabled: true
