apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: origin-ca-issuer
  namespace: cert-manager
spec:
  interval: 2m
  chart:
    spec:
      chart: origin-ca-issuer
      version: 0.6.1
      sourceRef:
        kind: HelmRepository
        name: origin-ca-issuer
  # https://github.com/cloudflare/origin-ca-issuer/blob/trunk/deploy/charts/origin-ca-issuer/values.yaml
  values: {}
