apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homepage
  namespace: homepage
  labels:
    helm.toolkit.fluxcd.io/helm-test: enabled
    helm.toolkit.fluxcd.io/remediation: enabled
spec:
  interval: 2m
  chart:
    spec:
      chart: homepage
      version: 4.3.0
      sourceRef:
        kind: HelmRepository
        name: homepage
  postRenderers:
    - kustomize:
        patches:
          - target:
              kind: Deployment
              name: homepage
            patch: |
              - op: add
                path: /metadata/annotations/configmap.reloader.stakater.com~1reload
                value: homepage
  # ICONS:
  # https://github.com/walkxcode/dashboard-icons
  # https://simpleicons.org
  # https://pictogrammers.com/library/mdi/
  # ---
  # https://github.com/M0NsTeRRR/helm-charts/blob/main/charts/homepage/values.yaml
  values:
    replicaCount: ${homepage_replicas:=2}
    config:
      allowedHosts:
        - ${domain}
    ingress:
      enabled: true
      hosts:
        - host: ${domain}
          paths:
            - path: /
              pathType: ImplementationSpecific
      annotations:
        traefik.ingress.kubernetes.io/router.middlewares: traefik-forward-auth@kubernetescrd
    volumes:
      - name: homepage-config
        configMap:
          name: homepage
    volumeMounts:
      - mountPath: /app/config/custom.js
        name: homepage-config
        subPath: custom.js
      - mountPath: /app/config/custom.css
        name: homepage-config
        subPath: custom.css
      - mountPath: /app/config/docker.yaml
        name: homepage-config
        subPath: docker.yaml
      - mountPath: /app/config/settings.yaml
        name: homepage-config
        subPath: settings.yaml
      - mountPath: /app/config/kubernetes.yaml
        name: homepage-config
        subPath: kubernetes.yaml
      - mountPath: /app/config/widgets.yaml
        name: homepage-config
        subPath: widgets.yaml
      - mountPath: /app/config/services.yaml
        name: homepage-config
        subPath: services.yaml
      - mountPath: /app/config/bookmarks.yaml
        name: homepage-config
        subPath: bookmarks.yaml
