---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: oauth2-proxy
  namespace: oauth2-proxy
  labels:
    helm.toolkit.fluxcd.io/helm-test: enabled
    helm.toolkit.fluxcd.io/remediation: enabled
spec:
  interval: 2m
  chart:
    spec:
      chart: oauth2-proxy
      version: 7.17.0
      sourceRef:
        kind: HelmRepository
        name: oauth2-proxy
  # https://github.com/oauth2-proxy/manifests/blob/main/helm/oauth2-proxy/values.yaml
  values:
    deploymentAnnotations:
      configmap.reloader.stakater.com/reload: oauth2-proxy
    replicaCount: ${oauth2_proxy_replicas:=2}
    config:
      clientID: "${github_app_client_id}"
      clientSecret: "${github_app_client_secret}"
      cookieSecret: "${oauth2_proxy_cookie_secret}"
      configFile: |-
        provider = "github"
        github_users = ["devantler"]
        email_domains = [ "*" ]
        cookie_domains=[".${domain}"]
        redirect_url = "https://oauth2-proxy.${domain}/oauth2/callback"
        upstreams = [ "static://202" ]
        skip_provider_button = true
        reverse_proxy = true
    ingress:
      enabled: true
      hosts:
        - oauth2-proxy.${domain}
      annotations:
        traefik.ingress.kubernetes.io/router.middlewares: traefik-headers@kubernetescrd

