name: CD - Deploy

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: read
  packages: write

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  bootstrap-prod:
    uses: devantler-tech/reusable-workflows/.github/workflows/cd-cluster-bootstrap.yaml@7080af2431cdd533c33685c9fc1d8d71187cdcd3 # v1.15.14
    with:
      DEPLOYMENT_ENV: prod
    secrets:
      KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
      SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}

  deploy-prod:
    needs: bootstrap-prod
    uses: devantler-tech/reusable-workflows/.github/workflows/cd-gitops-deploy.yaml@7080af2431cdd533c33685c9fc1d8d71187cdcd3 # v1.15.14
    with:
      DEPLOYMENT_ENV: prod
    secrets:
      KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
      SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
