name: CD - Deploy

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: read
  packages: write

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  bootstrap-prod:
    uses: devantler-tech/reusable-workflows/.github/workflows/cd-cluster-bootstrap.yaml@0763de30f9598601916680b2f52c9f41f14082df # v1.21.0
    with:
      DEPLOYMENT_ENV: prod
    secrets:
      KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
      SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}

  deploy-prod:
    needs: bootstrap-prod
    uses: devantler-tech/reusable-workflows/.github/workflows/cd-gitops-deploy.yaml@6e090583500faddbf48c4ef3af02e6b89db1913f # v1.22.3
    with:
      DEPLOYMENT_ENV: prod
    secrets:
      KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
      SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
