name: CD - Deploy

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: read
  packages: write

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  bootstrap-prod:
    uses: devantler-tech/reusable-workflows/.github/workflows/cd-cluster-bootstrap.yaml@14ced1780351f91e8ebdc5324cf7590ebebf8a66 # v1.19.8
    with:
      DEPLOYMENT_ENV: prod
    secrets:
      KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
      SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}

  deploy-prod:
    needs: bootstrap-prod
    uses: devantler-tech/reusable-workflows/.github/workflows/cd-gitops-deploy.yaml@920ee277bb1932a1c4f29e9d97da54181b43e79e # v1.19.3
    with:
      DEPLOYMENT_ENV: prod
    secrets:
      KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
      SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
