name: Sync Cluster Policies

on:
  schedule:
    - cron: "0 0 * * *" # Runs daily at midnight
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'k8s/bases/infrastructure/cluster-policies/samples/**'

permissions: {}

jobs:
  sync-policies:
    uses: devantler-tech/reusable-workflows/.github/workflows/sync-cluster-policies.yaml@6e090583500faddbf48c4ef3af02e6b89db1913f # v1.22.3
    with:
      KYVERNO_POLICIES_DIR: k8s/bases/infrastructure/cluster-policies/samples
    secrets:
      APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}
