name: Sync Cluster Policies

on:
  schedule:
    - cron: "0 0 * * *" # Runs daily at midnight
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'k8s/bases/infrastructure/cluster-policies/samples/**'

permissions: {}

jobs:
  sync-policies:
    uses: devantler-tech/reusable-workflows/.github/workflows/sync-cluster-policies.yaml@c049d0ad8110b0a74920fecf22525d2f771264b7 # v1.22.5
    with:
      KYVERNO_POLICIES_DIR: k8s/bases/infrastructure/cluster-policies/samples
    secrets:
      APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}
