name: Sync Cluster Policies

on:
  schedule:
    - cron: "0 0 * * *" # Runs daily at midnight
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'k8s/bases/infrastructure/cluster-policies/samples/**'

permissions: {}

jobs:
  sync-policies:
    uses: devantler-tech/reusable-workflows/.github/workflows/sync-cluster-policies.yaml@f7c1091196016d2e66b7487ceba166112d196702 # v1.25.0
    with:
      KYVERNO_POLICIES_DIR: k8s/bases/infrastructure/cluster-policies/samples
    secrets:
      APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}
